@import './variables.scss';

body{
    background: url(../../public/pictures/pexels-oleksandr-pidvalnyi-1004584.jpg);
    background-size: cover;
}

.container{
    @include containerDef;
    
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    
    
}

.content{
    text-align: center;
}