@import url(https://fonts.googleapis.com/css?family=Roboto);

$roboto-font: "Roboto", sans-serif;

$bg: rgb(255, 255, 255);
$bg2: rgb(0, 0, 0);
$text: rgb(15, 15, 15);
$text2: rgb(240, 240, 240);
$primary: rgb(22, 210, 247);

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

$header-height: 69px;

$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;

@mixin breakpoint ($point){
    @if $point == md {
        @media (min-width: $md){
            @content;
        }
    }
}

$fw: 350px;
$fh: 40px;
$ffs: 20px;

@mixin align (){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin containerDef(){
    background: rgba($bg2, 0.80); 
    font-family: inherit;
    box-shadow: 0 1px 5px $primary;
    color: $text2;
}